.detail {
  &__title {
    padding: 2rem 0;

    h1 {
      line-height: 3rem;
      word-break: break-all;
      line-height: 1.4em;
      margin-bottom: 0;
    }

    &.section {
      margin-top: 0;
      @include innerspace(16px, 0px);
    }
  }
  &__body {
    &.section {
      margin-top: 0;
    }

    p {
      line-height: 2rem;
    }
  }
  &__date {
    font-family: $heading-font-face-playfair;
  }
}



