.detail {
  &__title {
    padding: 2rem 0;

    h1 {
      line-height: 3rem;
      word-break: break-all;
      line-height: 1.4em;
      margin-bottom: 0;
    }

    &.section {
      margin-top: 0;
      @include innerspace(16px, 24px);
    }
  }
  &__body {
    @include innerspace(0, 24px);
    &.section {
      margin-top: 0;
    }

    p {
      line-height: 2rem;
    }
  }
  &__meta {
    @include innerspace(0, 24px);
    font-family: $heading-font-face-playfair;
    display: flex;
    justify-content: space-between;

    .weather {
      opacity: 0.4;
    }
  }
}



