@import
  'lib/weather/weather-icons',

  'components/header/header',
  'components/navigation/navigation',
  'components/navigation/sidebarmenu',
  'components/navigation/topbar',
  'components/cards/card',
  'components/datebar/datebar',
  'components/hero/homepage-hero',
  'components/gratitude/gratitude',
  'components/gratitude/addGratitude',
  'components/gratitude/contenteditable',
  'components/add/addGratitude',
  'components/weather/weather',
  'components/user/user',
  'components/ui/forms',
  'components/ui/dropdown',
  'components/ui/buttons',
  'components/ui/gooey',
  'components/toasts/toasts',

  'views/transitions',
  'views/list/gratitudeGroup',
  'views/list/list',
  'views/home',
  'views/login',
  'views/detail';

body, html {
  width: 100%;
  height: 100%;
  background-color: darken(#014B52, 5%);
  color: color('white');
  font-family: $primary-font-face;
  // overflow-x: hidden;
}
